<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>Witty Vex's BLOG</h1>
		<p>讲点什么..</p>
	</body>
</html>
<button type="button" class="btn btn-primary">生活</button>
<button type="button" class="btn btn-origin">工作</button>
<button type="button" class="btn btn-success">出游</button>
<script type="text/javascript">
	$('button').on('click',function(){
		var content = $(this).html()
		alert(content);
	})
</script>